.item {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: lightblue;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  align-items: center
}
.quantity {
  margin-right: 1rem;
  font-size: 1rem;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: royalblue; 
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: white;
}